<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">BURGER BINGE</h1>
    <h2>What burger are you in the mood for? </h2>

</div>

<!-- modal stuff -->
<div class="modal" id="customerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <!-- modal header -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Welcome to Burger Binge</h5>

            </div>
            <!-- modal content -->
            <div class="modal-body">
                <p>Exsisting Customer?</p>
                {{!-- existing user options from DB --}}
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <label class=" mr-1">Name: </label>
                        <select id="exsistingCustomers m-3">

                            {{#each customers}}
                            <option id="customer" customerId="{{id}}" value="{{name}}">{{name}}</option>
                            {{/each}}

                        </select>
                        <p>
                            <a href="/menu" id="userSubmit" type="submit" class="btn">Welcome Back!</a>
                        </p>
                    </div>
                </form>
                <hr class="my-4">
                <p>New Customer</p>
                <form class="from-inline text-center" id="addCustomer">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" id="customerName" placeholder="Name">
                    </div>
                    <p>
                        <a href="#" id = "addCustomer" type="submit" class="btn btn-dark mb-2">Enter</a>
                    </p>

                </form>

            </div>

        </div>
    </div>